@import "tailwindcss";

:root {
  --background: #E9D8C3;
  --foreground: #5d4230;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-button: 	#D97B52;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist), Arial, Helvetica, sans-serif;
}

.projectcard {
  @apply bg-background aspect-square max-w-52 w-full text-center py-10;
}

.projectcard h2 {
  @apply font-bold text-xl;
}

